<div class="main-contianer">
  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label class="visually-hidden" for="specificSizeInputName">Wish</label>
      <input
        type="text"
        class="form-control"
        name="new-wish-content"
        [(ngModel)]="newWishContent"
      />
    </div>
    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="$event.preventDefault(); addNewWish()"
      >
        Add wish
      </button>
    </div>
  </form>

  <div class="column mt-3">
    <div *ngIf="wishes.length === 0; then noWishesMessage; else wishList"></div>

    <ng-template #noWishesMessage>
      There are no wishes to display.
    </ng-template>

    <ng-template #wishList>
      <ul class="wish-list">
        <li *ngFor="let wish of wishes; index as i">
          <div class="form-check">
            <label class="form-check-label">
              <input
                class="checkbox"
                type="checkbox"
                [checked]="wishIsCompleted(wish)"
                [attr.data-index]="i"
                (click)="toggledWishCheckbox(wish)"
              />
              {{ wish.content }}
            </label>
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
